/*used color palette: https://flatuicolors.com/palette/es*/
body {
  font-family: sans-serif;
  background-color: #aaa69d;
}

header {
  text-align: center;
  background-color: #706fd3;
  box-shadow: 0px 1px 6px;
  padding: 2;
  margin-bottom: 50px;
}

h1{
  padding-top: 20px;
}

p {
  font-size: 24px;
}

.highlightleft{
  box-shadow: 2px 2px 6px;
  float: left;
  margin-right: 20px;
}
.highlightright{
  box-shadow: 2px 2px 6px;
  float: right;
  margin-left: 20px;
}

.articlewraper{
  background-color: #f7f1e3;
  width: 80%;
  box-shadow: 6px 6px 20px;
  margin: auto;
  padding-bottom: 50px;
}

.contentwraper{
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}
.contentwraper::after{
  content: "";
  clear: both;
  display: table;
}