<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zespół</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="articlewraper">
    <header>
      <div class="highlight">
        <a href="/">Główna</a>        
        <a href="/math">Matma</a>
        <a href="/project">Projekt</a>
        <a href="/about">Zespół</a>
      </div>
      <h1>Zespół</h1>
    </header>
    <div class="contentwraper">
      <img src="/static/photo.png"  class="highlight" width="370" height="370" />
      <h1>Filip Turczyn</h1>
      <p>Studiuje na PWR, kierunek Matematyka Stosowana <br> próbuje pogodzić studia z pracą, mimo to zawsze znajde chwilę by popracować nad moimi pomysłami i gierke w Hoi4</p>
      <h2><a href="https://github.com/Tazonus">Github</a></h2>
    </div>
  </div>
</body>
</html>
