<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zespół</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="articlewraper">
    <header>
      <div class="highlightright">
        <a href="/">Główna</a>     
        <a href="/math">Szeregi</a>
        <a href="/about">Zespół</a>
      </div>
      <h1>Zespół</h1>
    </header>
    <div class="contentwraper">
      <img src="/static/images/Turczyn.jpg"  class="highlightleft" width="370" height="370" />
      <h1>Filip Turczyn</h1>
      <p>Studiuje na PWR na kierunku Matematyka Stosowana <br> próbuje pogodzić studia z pracą, mimo to zawsze znajde chwilę by popracować nad moimi pomysłami</p>
      <h2><a href="https://github.com/Tazonus">Github</a></h2>
    </div>
    <br>
    <div class="contentwraper">
      <img src="/static/images/photo.png"  class="highlightright" width="370" height="370" />
      <h1>hipotetyczna osoba</h1>
      <p>postać dodana by przedstawić jak wyglądałoby rozszerzanie listy o kolejnych członków </p>
      <h2><a href="https://github.com/Tazonus">Github</a></h2>
    </div>
    <div class="contentwraper">
      <img src="/static/images/hippo.jpg"  class="highlightleft" width="370" height="370" />
      <h1>hipopotetyczna osoba</h1>
      <p>lorem ipsum</p>
      <h2><a href="https://github.com/Tazonus">Github</a></h2>
    </div>
  </div>
</body>
</html>
