<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="articlewraper">
    <header>
      <div class="highlightright">
        <a href="/">Główna</a>        
        <a href="/math">Matma</a>
        <a href="/project">Projekt</a>
        <a href="/about">Zespół</a>
      </div>
      <h1>Strona Główna</h1>
    </header>

    <div class="contentwraper">
      <p>Spis treści:</p>
      <p><a href="/math">matma</a></p>
      <p><a href="/project">Projekt</a></p>
      <p><a href="/about">Zespół</a></p>
    <h5>sprawdź z jaką częstotliwością<br> pojawiają się litery w twoim zdaniu:</h3>
    <form id="imageForm">
      <label for="message"></label>
      <textarea id="message" name="message" rows="4" ></textarea>
      <button type="submit" id="fetch_button">Wyślij</button>
    </form>
    <script src="../static/javascript/client.js"></script>
    <div class="image_wrapper"></div>

    </div>
  </div>
</body>
</html>
