<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="articlewraper">
    <header>
      <div class="highlightright">
        <a href="/">Główna</a>        
        <a href="/math">Matma</a>
        <a href="/project">Projekt</a>
        <a href="/about">Zespół</a>
      </div>
      <h1>Strona Główna</h1>
    </header>
    <div class="contentwraper">
      <p>Spis treści:</p>
      <p><a href="/math">matma</a></p>
      <p><a href="/project">Projekt</a></p>
      <p><a href="/about">Zespół</a></p>

      <form action="/" method="POST">
        <label for="word">Słowo:</label>
        <input type="text" id="word" name="word" required>
        <button type="submit">Wyślij</button>
      </form>
    </div>
  </div>
</body>
</html>
